<div class="mainCont">
<%= image_tag("cherries.jpg", alt: "Welcome Logo", :class => "welcomeIm") %>    
    
    
<h1>Home</h1>
<p>Welcome to your first home page!</p>
<br>
<br>
<p>This will be the home page of the web app we will create together</p>
</div>
