<div class="mainCont">
    
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the food universum</h1>
    <p class="lead">Here you will find food from different galaxies in he universe, and different continents of the Earth.</p>
    <%= image_tag("cherries.jpg", alt: "Welcome Logo", :class => "welcomeIm") %>
  </div>
</div> 


<%=render 'items/popular'%>

<%=render 'items/categories'%>

<%=render 'items/proveniences'%>
