<h2>Thanks, you paid <strong></strong>/h2>
<p>Your product ar one the way</p>
<%= image_tag "imageThanks.jpg" %>
<p>See the recipt</p>

<td><h2>  <a href="/orders/" class="button">chek orders list Now</a></h2></td>



<%= %>