<div class="categories">
    
    
    <h3>Categories</h3>

    
    <% @categories.each do |category| %>

<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action "><p><a href="/category/<%= category.title %>" ><%= category.title %></a></p></button>

</div>
 

    <% end %>
    </div>









