    <footer class="foot">
      <h1>Look Im At The Bottom.....</h1>



      <% if session[:login] == 1 %>    
        <%= link_to 'New Item',  new_item_path, :class => "button", :role => "button" %>
      <% end %>

        
    </footer>