// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "cart";
@import "items";
@import "scaffolds";
@import "static_pages";
@import "user";




/*form css-------------------------*/

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

html,
body {
  height: 100%;
}
.container{ height:100%;
    min-height:0px!important;
}
form{
    height:100%;
}
#page-content {
  flex: 1 0 auto;
}
#sticky-footer {
  flex-shrink: none;
}
/* Other Classes for Page Styling */
@import "bootstrap";
.navbar-light .navbar-brand {
    color: #FFFFFF;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #FFFFFF;
}
.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ccc !important;
}
.headSec {
    min-height:10px;
    background-color: #b3e0ff;
    width: 100%;
    margin-bottom:10px;
    overflow: auto;
}
.headSec h1 {
    color: #ffffff;
    font-size: 80px;
    padding: 15px;
}
ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;    
}
li {float:left;}
li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.mainCont { 
    margin: auto;
    width:80%;
    border: 3px solid #b3e0ff;
    padding: 10px;
    text-align: center;
}
.welcomeIm {width: 30%;}
.foot {
    min-height: 80px;
    background-color: #b3e0ff;
    width: 100%;
    margin-top: 10px;
    overflow: auto;
}
.container {
      background: url("/assets/Site/clubhead.png");
      background-repeat:no-repeat;
      background-position:right bottom;
      width: 100%;
      min-height: 700px;
}
.headSec {
    background: url("/assets/Site/golfcourse.jpg");
     background-repeat: no-repeat;
     background-size:100% 100%;
    min-height:10px;
    background-color: #b3e0ff;
    width: 100%;
    margin-bottom:10px;
    overflow: auto;
}
// the container
.container {
 background: url("/assets/Site/clubhead.png");
      background-repeat:no-repeat;
    background-position:right bottom;
   width: 100%;
    min-height: 700px;
}